<div class="alpha two columns">
    <%= f.fields_for :location_id do |location_field| %>   
        <%= location_field.label(:latitude, I18n.t('latitude')) %><br />
        <%= location_field.number_field :latitude %>
    <% end %>
</div>
<div class="omega two columns">
    <%= f.fields_for :location_id do |location_field| %>   
        <%= location_field.label(:longitude, I18n.t('longitude')) %><br />
        <%= location_field.number_field :longitude %>    
    <% end %>
</div>

