<div class="alpha four columns">
    <%= f.fields_for :location do |location_form| %>           
      <%= location_form.label :latitude, Spree.t(:latitude) %>
      <%= location_form.number_field :latitude %>
      <%= location_form.label :longitude, Spree.t(:longitude) %>
      <%= location_form.number_field :longitude %>
    <% end %>
</div>


 
